@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.manager:not(.connected) button:not(.connect) {
  visibility: hidden;
}

.manager.connected button {
  visibility: visible;
}