@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'WigendaTypewrite';
  src: url('./fonts/WigendaTypewrite.woff');
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
